<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="frontend"
		label="COM_JINBOUND_CONFIG_FIELDSET_FRONTEND"
	>
		<field
			name="load_jquery_front" id="load_jquery_front"
			type="list"
			label="COM_JINBOUND_LOAD_JQUERY"
			description="COM_JINBOUND_LOAD_JQUERY_DESC"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name="load_jquery_ui_front" id="load_jquery_ui_front"
			type="list"
			label="COM_JINBOUND_LOAD_JQUERY_UI"
			description="COM_JINBOUND_LOAD_JQUERY_UI_DESC"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name="load_bootstrap_front" id="load_bootstrap_front"
			type="list"
			label="COM_JINBOUND_LOAD_BOOTSTRAP"
			description="COM_JINBOUND_LOAD_BOOTSTRAP_DESC"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	
	<fieldset
		name="backend"
		label="COM_JINBOUND_CONFIG_FIELDSET_BACKEND"
	>
		<field
			name="load_jquery_back" id="load_jquery_back"
			type="list"
			label="COM_JINBOUND_LOAD_JQUERY"
			description="COM_JINBOUND_LOAD_JQUERY_DESC"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name="load_jquery_ui_back" id="load_jquery_ui_back"
			type="list"
			label="COM_JINBOUND_LOAD_JQUERY_UI"
			description="COM_JINBOUND_LOAD_JQUERY_UI_DESC"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name="load_bootstrap_back" id="load_bootstrap_back"
			type="list"
			label="COM_JINBOUND_LOAD_BOOTSTRAP"
			description="COM_JINBOUND_LOAD_BOOTSTRAP_DESC"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_jinbound"
			section="component"
		/>
		<field
			name="help_url"
			type="hidden"
			default="http://anything-digital.com/jinbound/learn-more/user-manual.html"
			readonly="true"
		/>
	</fieldset>
</config>