.icon-48-jinbound-categories,.icon-48-jinbound-category {
	background: url('../images/icon-48-jinbound.png') 0 0 no-repeat !important;
	padding-left: 60px !important;
}
.page-title .jinbound-categories {
	background: url('../images/icon-24-jinbound.png') 0 0 no-repeat;
	height: 24px !important;
	padding-left: 12px !important;
}
.page-title .jinbound-categories:before {
	content: "" !important;
}