<?xml version="1.0" encoding="utf-8"?>
<config addfieldpath="/administrator/components/com_jinbound/models/fields">
    <field type="customfooter"
           name="customfooter"
           media="jinbound"
           showgoproad="0"
           jedurl="https://extensions.joomla.org/extension/jinbound"/>

    <fieldset name="general"
              label="COM_JINBOUND_CONFIG_FIELDSET_GENERAL">
        <field name="unsubscribe"
               type="radio"
               class="btn-group btn-group-yesno"
               label="COM_JINBOUND_UNSUBSCRIBE"
               description="COM_JINBOUND_UNSUBSCRIBE_DESC"
               default="1">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field name="history"
               type="list"
               label="COM_JINBOUND_HISTORY"
               description="COM_JINBOUND_HISTORY_DESC"
               default="365">
            <option value="0">COM_JINBOUND_HISTORY_UNLIMITED</option>
            <option value="90">COM_JINBOUND_HISTORY_3_MONTHS</option>
            <option value="180">COM_JINBOUND_HISTORY_6_MONTHS</option>
            <option value="365">COM_JINBOUND_HISTORY_1_YEAR</option>
            <option value="730">COM_JINBOUND_HISTORY_2_YEARS</option>
            <option value="1826">COM_JINBOUND_HISTORY_5_YEARS</option>
        </field>

        <field name="cron_type"
               type="list"
               label="COM_JINBOUND_CRON_TYPE"
               description="COM_JINBOUND_CRON_TYPE_DESC"
               default="0"
               menu="hide">
            <option value="0">COM_JINBOUND_CRON_TYPE_FAKE</option>
            <option value="1">COM_JINBOUND_CRON_TYPE_REAL</option>
        </field>

        <field name="cron_max_reports"
               type="text"
               label="COM_JINBOUND_CRON_MAX_REPORTS"
               description="COM_JINBOUND_CRON_MAX_REPORTS_DESC"
               default="0"
               filter="int"
               menu="hide"/>

        <field name="cron_max_campaign_mails"
               type="text"
               label="COM_JINBOUND_CRON_MAX_CAMPAIGN_MAILS"
               description="COM_JINBOUND_CRON_MAX_CAMPAIGN_MAILS_DESC"
               default="0"
               filter="int"
               menu="hide"/>

        <field name="cron_url"
               type="jinboundcronurl"
               label="COM_JINBOUND_CRON_URL"
               description="COM_JINBOUND_CRON_URL_DESC"/>

        <field name="debug"
               type="radio"
               class="btn-group btn-group-yesno"
               label="COM_JINBOUND_DEBUG"
               description="COM_JINBOUND_DEBUG_DESC"
               default="0">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
    </fieldset>

    <fieldset name="frontend"
              label="COM_JINBOUND_CONFIG_FIELDSET_FRONTEND">
        <field name="load_jquery_front"
               type="radio"
               class="btn-group btn-group-yesno"
               label="COM_JINBOUND_LOAD_JQUERY"
               description="COM_JINBOUND_LOAD_JQUERY_DESC"
               default="1">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field name="load_jquery_ui_front"
               type="radio"
               class="btn-group btn-group-yesno"
               label="COM_JINBOUND_LOAD_JQUERY_UI"
               description="COM_JINBOUND_LOAD_JQUERY_UI_DESC"
               default="1">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field name="load_bootstrap_front"
               type="radio"
               class="btn-group btn-group-yesno"
               label="COM_JINBOUND_LOAD_BOOTSTRAP"
               description="COM_JINBOUND_LOAD_BOOTSTRAP_DESC"
               default="1">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
    </fieldset>

    <fieldset name="backend"
              label="COM_JINBOUND_CONFIG_FIELDSET_BACKEND">
        <field name="load_jquery_back"
               type="radio"
               class="btn-group btn-group-yesno"
               label="COM_JINBOUND_LOAD_JQUERY"
               description="COM_JINBOUND_LOAD_JQUERY_DESC"
               default="0">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field name="load_jquery_ui_back"
               type="radio"
               class="btn-group btn-group-yesno"
               label="COM_JINBOUND_LOAD_JQUERY_UI"
               description="COM_JINBOUND_LOAD_JQUERY_UI_DESC"
               default="0">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field name="load_bootstrap_back"
               type="radio"
               class="btn-group btn-group-yesno"
               label="COM_JINBOUND_LOAD_BOOTSTRAP"
               description="COM_JINBOUND_LOAD_BOOTSTRAP_DESC"
               default="0">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
    </fieldset>


    <fieldset name="reports"
              label="COM_JINBOUND_CONFIG_FIELDSET_REPORTS">
        <field name="send_reports"
               type="radio"
               class="btn-group btn-group-yesno"
               label="COM_JINBOUND_SEND_REPORTS"
               description="COM_JINBOUND_SEND_REPORTS_DESC"
               default="1">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field name="report_frequency"
               type="list"
               label="COM_JINBOUND_REPORT_FREQUENCY"
               description="COM_JINBOUND_REPORT_FREQUENCY_DESC"
               default="0">
            <option value="0">COM_JINBOUND_REPORT_FREQUENCY_NEVER</option>
            <option value="3">COM_JINBOUND_REPORT_FREQUENCY_EVERY_3_HOURS</option>
            <option value="6">COM_JINBOUND_REPORT_FREQUENCY_EVERY_6_HOURS</option>
            <option value="12">COM_JINBOUND_REPORT_FREQUENCY_EVERY_12_HOURS</option>
            <option value="24">COM_JINBOUND_REPORT_FREQUENCY_EVERY_DAY</option>
            <option value="48">COM_JINBOUND_REPORT_FREQUENCY_EVERY_OTHER_DAY</option>
            <option value="72">COM_JINBOUND_REPORT_FREQUENCY_EVERY_3RD_DAY</option>
            <option value="168">COM_JINBOUND_REPORT_FREQUENCY_EVERY_WEEK</option>
            <option value="336">COM_JINBOUND_REPORT_FREQUENCY_EVERY_OTHER_WEEK</option>
            <option value="720">COM_JINBOUND_REPORT_FREQUENCY_EVERY_30_DAYS</option>
        </field>

        <field name="report_recipients"
               type="text"
               label="COM_JINBOUND_REPORT_RECIPIENTS"
               description="COM_JINBOUND_REPORT_RECIPIENTS_DESC"/>

        <field name="report_force_admin"
               type="hidden" default="0"
               description="If this variable is null during install report_recipients defaults to the global admin email"/>
    </fieldset>

    <fieldset name="permissions"
              label="JCONFIG_PERMISSIONS_LABEL"
              description="JCONFIG_PERMISSIONS_DESC">
        <field name="rules"
               type="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               validate="rules"
               filter="rules"
               component="com_jinbound"
               section="component"/>
    </fieldset>
</config>
